@font-face {
	font-family: 'SF UI Display';
	font-display: swap;
	font-weight: 400;
	src: url('../fonts/sf-ui-display/sf_ui_display_regular.eot');
	src: url('../fonts/sf-ui-display/sf_ui_display_regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sf-ui-display/sf_ui_display_regular.woff2') format('woff2'),
	url('../fonts/sf-ui-display/sf_ui_display_regular.woff') format('woff'),
	url('../fonts/sf-ui-display/sf_ui_display_regular.ttf') format('truetype'),
	url('../fonts/sf-ui-display/sf_ui_display_regular.svg#sf_ui_display_regular') format('svg');
}

@font-face {
	font-family: 'SF UI Display';
	font-display: swap;
	font-weight: 600;
	src: url('../fonts/sf-ui-display/sf_ui_display_semibold.eot');
	src: url('../fonts/sf-ui-display/sf_ui_display_semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sf-ui-display/sf_ui_display_semibold.woff2') format('woff2'),
	url('../fonts/sf-ui-display/sf_ui_display_semibold.woff') format('woff'),
	url('../fonts/sf-ui-display/sf_ui_display_semibold.ttf') format('truetype'),
	url('../fonts/sf-ui-display/sf_ui_display_semibold.svg#sf_ui_display_semibold') format('svg');
}

@font-face {
	font-family: 'SF UI Display';
	font-display: swap;
	font-weight: 500;
	src: url('../fonts/sf-ui-display/sf_ui_display_medium.eot');
	src: url('../fonts/sf-ui-display/sf_ui_display_medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sf-ui-display/sf_ui_display_medium.woff2') format('woff2'),
	url('../fonts/sf-ui-display/sf_ui_display_medium.woff') format('woff'),
	url('../fonts/sf-ui-display/sf_ui_display_medium.ttf') format('truetype'),
	url('../fonts/sf-ui-display/sf_ui_display_medium.svg#sf_ui_display_medium') format('svg');
}

@font-face {
	font-family: 'SF UI Display';
	font-display: swap;
	font-weight: 700;
	src: url('../fonts/sf-ui-display/sf_ui_display_bold.eot');
	src: url('../fonts/sf-ui-display/sf_ui_display_bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sf-ui-display/sf_ui_display_bold.woff2') format('woff2'),
	url('../fonts/sf-ui-display/sf_ui_display_bold.woff') format('woff'),
	url('../fonts/sf-ui-display/sf_ui_display_bold.ttf') format('truetype'),
	url('../fonts/sf-ui-display/sf_ui_display_bold.svg#sf_ui_display_bold') format('svg');
}
