.container {
	width: 100%;
	max-width: 1440px;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;

	@include tablet() {
		padding-left: 32px;
		padding-right: 32px;
	}

	@include desktop-xl() {
		padding-left: 60px;
		padding-right: 60px;
	}
}
